urls:
  - https://example.org
#  - https://www.example.org

crawler:
  # see https://github.com/yujiosaka/headless-chrome-crawler/blob/master/docs/API.md#crawlerqueueoptions
  options:
    userAgent: Custom Crawler Engine

tests:
  external_requests:
    allowed_domains:
      - www.example.net
  cookies:
    allowed:
      - _gat
  google_analytics:
    validIds:
      - 'UA-12345678-9'
  google_tagmanager:
    validIds:
      - 'GTM-12345'
  javascript_errors: ~
  seo: ~
  failed_requests: ~
