urls:
  - https://example.org
#  - https://www.example.org

tests:
  external_requests:
    allowed_domains:
      - www.example.net
  cookies:
    allowed:
      - _gat
  # tests for anonymize setting
  google_analytics:
    id: 'UA-12345678-9'
  google_tag_manager:
    id: 'GTM-ABCDEF12'
